<h2>About</h2>
{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'mwb/divtest.css' %}" />
<img src="{{MEDIA_URL}}/boffin.jpg" id="bg" alt="">
<p>
Uses the Machine Learning Algorithm Random Forest Decision Tree Regression and Markov Chain Monte Carlo 
to make predictions using a 100 factor model
<br>
<ul>Factors determined by using
<br>
<li>Multi Period Poission Probability</li>
<li>Form Analysis</li>
<li>Goals Average</li>
<li>Trending Analysis</li>
<li>Mean reversion</li>
<li>Sequence Analysis</li>
<li>Emergent Phenomena</li> 
</ul>
We have been influenced by a huge number of giants we have stood on the shoulders of
<p>
Some great research papers 
<br>
<a href="http://www.math.ku.dk/~rolf/teaching/thesis/DixonColes.pdf" target="_blank">http://www.math.ku.dk/~rolf/teaching/thesis/DixonColes.pdf</a>
<br>
<a href="https://www.idi.ntnu.no/~helgel/papers/LangsethSCAI14.pdf" target="_blank">https://www.idi.ntnu.no/~helgel/papers/LangsethSCAI14.pdf</a>
<br>
<a href="https://www.stat.berkeley.edu/~aldous/157/Papers/goddard.pdf" target="_blank">https://www.stat.berkeley.edu/~aldous/157/Papers/goddard.pdf</a>
<br>
<a href="https://www.eecs.qmul.ac.uk/~martin/index_files/spurs_final_published.pdf" target="_blank">www.eecs.qmul.ac.uk/~martin/index_files/spurs_final_published.pdf
</a>
<br>
<br>


Some great books
<br>
<a href="https://www.amazon.co.uk/Numbers-Game-Everything-About-Football/dp/0241963621/ref=sr_1_1?ie=UTF8&qid=1473518133&sr=8-1&keywords=the+numbers+of+game" target="_blank"> The Numbers Game</a>
<br>
<a href="https://www.amazon.co.uk/Soccernomics-England-Australia---Iraq--Are-Destined/dp/1568584814/ref=sr_1_2?ie=UTF8&qid=1473518238&sr=8-2&keywords=soccernomics" target="_blank">Soccernomics</a>
<br>
<br>
Some great web sites
<br>
<a href="http://www.soccermetrics.net/" target="_blank">http://www.soccermetrics.net/
</a>
<br>
<a href="http://mathematicalfootballpredictions.com/" target="_blank">http://mathematicalfootballpredictions.com/</a>
<br>
<a href="http://www.archduke.org/" target="_blank">http://www.archduke.org
</a>

</p>
